.subjects {
  .subject-item {
    .title {
      padding: 15px 0;
    }

    .full-name {
      width: 60%;
    }

    .birthdate {
      width: 20%;
    }

    .avg-notes {
      width: 20%;
    }
  }
}

.tuitions {
  .title {
    padding: 15px 0;
  }

  .full-name {
    width: 70%;
  }

  .birthdate {
    width: 20%;
  }

  .month {
    width: 10%;
  }
}